* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    width: 100%;
    color:#ffff
}


/* GENERAL */

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 58px;
    font-weight: 500;
    letter-spacing: -2px;
    color: #ffff;
    line-height: 1em;
    margin-bottom: 20px;
    margin-top: 20px;
}

h2, h3 {
    font-family: 'Playfair Display', serif; 
}

h4 {
    color: #ffb577;
    font-family: 'Playfair Display', serif;
    margin-bottom: 0px;  
}

p {
    color: white;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5em;;
}

.section-title  {
    display: flex;
    font-weight: 300;
}

.section-title > img {
    width:40px;
    height: 2px;
    padding:8px 0px 0 10px;
}

/* GENERALE MOBILE */

@media only screen and (max-width : 550px) {
    .section-title > img {
        width:35px;
        height: 1px;
    }
}


/* SECTION HEADER COMPPUTER */

.nav {
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    margin-bottom: 50px;
}


.nav ul {
    display: flex;
    list-style: none;
}

.nav li {
    padding: 30px;
}

.nav a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.orange {
    color:#ffb577;
    margin-left: 5px;
}

.hero {
    display: flex;
    width:80%;
    margin: auto;
}

.hero-text {
    width:35%;
}

.hero-text > h4 {
    color: #ffff;
}

.cta-menu {
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: #ffb577;
    border: none;
    padding-top: 15px;  
    padding-bottom: 15px; 
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 750; 
}

.cta-menu > a {
    color: #1f1d21;
    
}
.arrow {
    color: #1f1d21;
    margin-left: 5px;
}

.hero-pic {
    width:45%;
    margin-left: 250px;
}

.hero-pic > img {
    width:80%;
    height: 500px;
    object-fit: cover;
}

.info-contact {
    margin-top: 5px;
    margin-bottom: 20px;
}



/* HEADER MOBILE  */

@media only screen and (max-width : 550px) {

    .nav {
        display: none;
    }
    
    .hero {
        margin-top: 100px;
        width:85%;
        margin: auto;
    }
    
    .hero-text {
        flex-basis: 70%;
    }

    .hero-text > h1 {
        font-size: 54px;

    }
    
    .hero-pic {
        flex-basis: 55%;
        margin-left: 50px;
    }

    .hero-pic > img {
        
        margin-top: 60px;
        width:100%;
        object-fit: cover;
    }

}




/* ABOUT-US SECTION ORDINATEUR */

.about-us {
    width: 80%;
    margin: auto;
    margin-top: 200px;
}

.about-us-desc {
    display: flex;
}

.about-us-text {
    width:50%
}

.about-us-text > h1 {
    width:85%;
}

.about-us-text > p {
    width:85%;
}

.about-us-features {
    margin-top: 50px;
    display: flex;
    width: 85%;
}

.feature {
    width: 70%;
    margin-right: 65px;
}

.icon-title-1 {
    display: flex;
}

.feature-icon > img {
    height: 25px;;
}

.feat-title-1 {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    margin-left: 5px;
    /*background-color: grey;*/
    color: #c4e4ea;
    font-weight: 400;
}

.feat-1 .feat-title-1 {
    width:40px;
}

.feat-title-2 {
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 100;
}

.feature-text {
    margin-top: 40px;
}


.about-us-pic {
    display: flex;
}

.about-us-pic > img {
    width:200px;
    height: 400px;
    object-fit: cover;
}

.about-us-pic .pic-left {
    margin-right: 50px;
    margin-top: 50px;
}


/* ABOUT-US SECTION MOBILE */

@media only screen and (max-width : 550px) {

    .about-us {
       margin-top: 100px;
       width: 85%; 
    }

    .about-us-desc {
        display: flex;
        flex-direction: column;
    }

    
    .about-us-text {
        width: 100%;
    }

    .about-us-text > h1 {
        font-size: 56px;;
    }


    .about-us-text > p {
        width: 100%;
    }

    .about-us-features {
        width: 100%;
        margin-top: 20px;
    }

    .icon-title-1 {
        flex-direction: column;
    }

    .feat-title-1 {
        margin-top: 10px;
        margin-left: 0px;
    }

    .feat-1 .feat-title-1 {
        width: 100%;
    }

    .feature  {
        margin-right: 0px;
    }

    .feature-text {
        margin-right: 10px;

    }

    .cta-menu {
        margin-bottom: 20px ;
    }

    .about-us-pic {
        margin-left: 20px;
    }

    .about-us-pic > img {
        width: 180px;
    }

    .about-us-pic .pic-left {
        margin-right: 25px;
    }

}


/* SECTION SERVICES ORDINATEUR */


.services {
    width: 80%;
    margin: auto;
    margin-top: 200px;
}

.services > h1 {
    width: 40%;
}

.service-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 10px;
    margin-top: 40px;
}

.item {
    margin-right: 1px;
    background-color: #1f1d21;
   
    padding: 50px;
}

.item > img {
    margin-bottom: 15px;
}

.item > p {
    width: 70%;
}

.item > h2 {
    margin-bottom: 15px;
}


/* SECTION SERVICES MOBILE  */


@media only screen and (max-width : 550px) {

    .services {
       margin-top: 100px;
       width: 85%; 
    }

    .service-categories {
        grid-template-columns: auto auto;
    }

    .services > h1 {
        width: 60%;
        font-size: 50px;
    }

    .item {
        width:80%;
        padding: 30px;
        padding-top: 30px;
    }

    .item > p {
        font-size: 12px;
    }
    
}


/* SECTION MENU-CARDS ORDINATEUR */

.menu-cards {
    width: 80%;
    margin: auto;
    margin-top: 200px;
}

.card-title {
    display: flex;
}

.card-title > h1 {
    margin-bottom: 15px;
}

.card-title > p {
    margin-left: 200px;
    margin-top: 21.280px;
}

.menu-cards > p {
    margin-bottom: 40px;
}

.menus {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 100%; 
}

.menu-item {
    width: 30%;
}

.menu-item > img {
   width: 100%;
  height: 300px;
  object-fit: cover;
}

.menu-item > h3 {
  
    background-color: #1f1d21;
    height: 30px;
    padding: 20px;
    margin-bottom: 20px;
}

.cta-menu-container  {
    display: flex;
    justify-content: center;
}

.cta-menu-container > .cta-menu {
    margin-top: 20px;
}


/* SECTION MENU-CARDS MOBILE */

@media only screen and (max-width : 550px) {

    .menu-cards {
       margin-top: 100px;
       width: 85%; 
    }

    .card-title > p {
        margin-left: 60px;
    }

   .menu-item {
    width: 46%;
   }

    .menu-item > img {
        height: 150px;
        width:100%
    }

    .menu-item > h3  {
        font-size: 14px;
        padding: 15px;
    }
}


/* SECTION TESTIMOGNIAGES ORDINATEUR */

.testimoniages {
    margin: auto;
    margin-top: 200px;
    background: #1f1d21;
    display: flex;
    justify-content: space-between;
}

.testimoniages > p {
    flex-basis: 50%;
    margin: 30px;
    font-size: 24px;

}

.testimoniages > img {
    margin-top: 30px;
    margin-bottom: 100px;
    height: 500px;
}

/* SECTION TESTIMOGNIAGES MOBILE */

@media only screen and (max-width : 550px) {

    .testimoniages {
        margin-top: 100px;
        flex-direction: column;
    }

    .testimoniages > img {
        margin-top: 30px;
        margin-bottom: 100px;
        height: 300px;
    }

}


/* SECTION BLOG ORDINATEUR */

.blog {
    width: 80%;
    margin: auto;
    margin-top: 200px;
}

.blog > h1 {
    width: 20%;
    margin-bottom: 50px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.blog-item {
   
    background-color:#1f1d21;
    margin-right: 20px;
}

.blog-info {
    height: 300px;
    margin: 20px;
    margin-bottom: 100px;
}

.blog-info > h6 {
    margin-bottom: 20px;
}

.blog-info > h2 {
    width: 60%;
    line-height: 1.2em;
    font-weight: 100;
}

.blog-info > p {
    width: 60%;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 100;
}

.blog-item > img  {
    width: 100%;
}

/* SECTION BLOG MOBILE */

@media only screen and (max-width : 550px) {

    .blog {
        margin-top: 100px;
        width: 85%;
     }

    .blogs {
        grid-template-columns: 50% 50%;
     }

     .blog-info {
        margin-bottom: 40px;
     }

    .blog-item {
        width: revert;
        margin-bottom: 30px;
    }

    .blog-item.item-1, .blog-item.item-3  {
        margin-right: 15px;
    }
    .blog-item.item-2 {
        margin-right: 0px;
        margin-left: 15px;
    }

    .blog-info > h2  {
        width: 100%;
    }

    .blog-info > p  {
        width: 100%;
    }


     

}


/* SECTION CONTACT ORDINATEUR */

.contact {
    width: 80%;
    margin: auto;
    margin-top: 200px;
    background-color: #1f1d21;
    display: flex;
}

.contact-info {
    padding: 40px;
    width: 30%;
}

.contact-info > h4 {

    color:#ffff;
}

.contact-info .email {
    margin-top: 10px;
}

.contact-blank {
    width:100%;
    background-color: #ffff;
}

.contact-blank > svg,rect {
   fill:white;
   width: 100%;
   height: fit-content;
}


/* SECTION FOOTER ORDINATEUR */

footer {
    width: 80%;
    margin: auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.footer-menu {
    display: flex;
    justify-content: center;
}

.footer-menu > ul {
    display: flex;
    list-style: none;
}


.footer-menu > ul > li > a{
    font-weight: 100;
    color: #ffff;
    padding: 30px;
}

.divider > img {
    margin-bottom: 30px;
    width: 100%;
    height: 1px;
}


/* SECTION FOOTER MOBILE */

@media only screen and (max-width : 550px) {

    .footer-menu > ul > li > a{
        font-size: 12px;
        padding: 12px;
    }

}

